body {
    background-image: url(../image/bg6.png);
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: BIZ UDPゴシック;
}
textarea {
    resize: none;
}
.tb_bg {
    background-color: #00e7ad;
}
#th_text {
    text-align: left;
}
#btn1 {
    text-align: right;
}
#btn2 {
    text-align: right;
}
.input_csv {
    resize: none;
}
.output_json {
    resize: none;
}
.btn-solid {
    font-family: BIZ UDPゴシック;
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
    padding: 5px 5px 5px 5px;
  }
  
.btn-solid:hover {
    font-family: BIZ UDPゴシック;
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
    padding: 5px 5px 5px 5px;
}
